.App {
  text-align: center;
}

body{
  background: darkslategrey;
  font-family: sans-serif ;
  width: 100%;
}
.row{
  display: flex;
  width: 80%;
  margin: 0 auto;
  color: black;
  background: darkcyan;
}
.NewConfirmed,
.TotalConfirmed,
.NewDeaths,
.TotalRecovered,
.TotalDeaths{
  padding: 20px;
  text-align: center;
  margin: 0 auto;
} 

 .NewConfirmed{
   color:#fff;
   background-color: cadetblue;
 }
 .TotalConfirmed {
  color:#fff;
   background-color: chocolate;
 }
 .NewDeaths{
  color:#fff;
   background-color: darkslategrey;
 }
 .TotalRecovered{
  color:#fff;
   background-color: lightslategray;
 }
 .TotalDeaths{
  color:#fff;
  background-color: darkviolet;
 }
 table{
   border-collapse: separate;
   width: 80%;
   margin: 0 auto;
   border-spacing:0 12px;
 }
 table thead tr{
   background: thistle;
   color: #fff;
 }
 table thead tr th{
   padding: 18px 12px;
   text-align: left;
   font-size: x-large;
 }
 table tbody tr{
   background: seashell; 
 }
 table tbody tr td{
   padding: 18px 12px;
   text-align: left; 
   background-color: aliceblue;
   font-size: medium;
   color: navy;
 }
 
/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: darkslategrey;
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}
.img{
  height: 100px;
}
.container-fluid {
  background-color:darkcyan;

}
.navbar-inverse .navbar-nav>li>a {
  color: antiquewhite;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color:darkcyan;
  font-size: large;
}
 
.navbar-inverse {
  background-color:#1abc9c;
  border-color: #1abc9c;
}
/* Page Content */
.content {padding:20px;}
body, html {
  height: 100%;
  background-repeat: no-repeat; 
}
/**
* Profile image component
*/
.profile-header-container{
  margin: 0 auto;
  text-align: center;
}

.profile-header-img {
  padding: 54px;
}

.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #51D2B7;
}

.profile-header {
  margin-top: 43px;
}

/**
* Ranking component
*/
.rank-label-container {
  margin-top: -19px;
  /* z-index: 1000; */
  text-align: center;
}

.label.label-default.rank-label {
  background-color: rgb(81, 210, 183);
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:cadetblue;
  color: white;
  text-align: center;
}
.headercus{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color:darkcyan;
  color: white;
  text-align: center;
}
.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: cadetblue;
  margin-bottom: 500px;
}

.title {
  color: grey;
  font-size: 18px;
}
.anh {
  text-decoration: none;
  font-size: 22px;
  color:antiquewhite;
}
.buttoncls:hover, a:hover {
  opacity: 0.7;
}
.buttoncls {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: dimgray;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: darkslategrey;
  border-color: #428bca;
}
.Chart{
  align-items: center; 
  margin-left: 300px; 
  margin-top: 100px;
  margin-bottom: 500px;
}
.list-group{
  padding-bottom: 500px;
  scroll-behavior: smooth;
}

 